#!/bin/bash
# THIS FILE IS COMMITTED TO GIT
# Do NOT add any secrets here!
# Make a .env.local file to override any environment variables locally

watch_file .env
dotenv_if_exists .env

watch_file .env.local
dotenv_if_exists .env.local

